[Desktop Entry]
Type=Application
Name=Campus-Planer
Comment=Inoffizielle Stundenplan-App für die HTW Berlin
Exec=campus-planer
Icon=campus-planer
Categories=Education;Utility;
Terminal=false
StartupWMClass=campus_planer
